resource "aws_instance" "aura_instance" {
  ami           = var.ami_id
  instance_type = var.instance_type

${keyPairBlock}

  tags = {
    Name      = var.instance_name
    ManagedBy = "AURA"
    RequestId = "${requestId}"
    CreatedBy = "Autonomous-Universal-Resource-Assembler"
  }
}
